@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}

nav {
    height: 120px;
    display: flex;
}

.navy {
    color: navy;
    font-weight: bold;
}

/* Landing */

.row {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.ffalogo {
    width: 80px;
}

ul{
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    margin: left 16px;
    color: navy;
}

.nav__link:hover {
    text-decoration: underline;
    color: gold;
}

.nav__link--border {
    border: none;
    border-radius: 16px;
    color: aliceblue;
    background-color: navy;
}

.nav__link--border:hover {
    text-decoration: none;
}

/* Header */

.two__columns--container {
    position: relative;
    padding: 32px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two__columns--two {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.left__column {
    width: 40%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.two__column--heading {
    text-align: left;
    padding: 16px 0;
}

.two__column--p {
    color: rgb(51, 51, 80);
}

.email__header {
    margin: 16px 0;
    padding: 4px;
    border: 2px solid rgb(51, 51, 80);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.text__header--place {
    border: none;
    border-radius: none;
    font-size: 20px;
    font-weight: bold;
}

.learn__more {
    border: none;
    border-radius: 8px;
    color: aliceblue;
    background-color: navy;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
}

.learn__more:hover {
    color: gold;
}

.right__column {
    width: 60%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.officer__img {
    width: 520px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

/* Officers */


.container {
    padding: 250px 0;
}

.row--officers {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.officers--title {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.officers {
    display: flex;
    flex-wrap: wrap;
}

.officer {
    display: flex;
    width: 25%;
    padding: 10px 0;
}

.officer__description {
    display: flex;
    flex-direction: column;
}

.about__officer {
    padding: 5px 0;
    font-size: 15px;
    width: 100px;
}